nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0px 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

nav a {
    text-decoration: none;
    color: #2c2c2c;
    text-align: center;
}

.logo-button {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo-button span {
    font-size: 1.5rem;
    margin-right: 2px;
    color: #777777;
}

.logo-button:hover {
    color: #111;
}

.logo-button #logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2px;
    color: #777777;
}
#login-button {
    padding: 6px 8px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #161516;
    color: #eeeeee;
    cursor: pointer;
}

#login-button:hover {
    background-color: #2c2c2c;
}

#logout-button {
    padding: 6px 8px;
    border-radius: 5px;
    border: #eeeeee 1px solid;
    box-sizing: border-box;
    color: #2c2c2c;
    cursor: pointer;
}