body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 1rem;
  border-top: 1px solid #e8e8e8;
  height: 95vh;
}

#content {
  padding: 20px;
}